body {
	color: purple;
	background-color: #d8da3d;
	font-family: Georgia, "Times New Roman", Times, serif;
}

div#header {
	color: black;
	font-size: 2em;
	border-bottom: thin dashed;
}

div#main {
	float: left;
	width: 70%;
}

div#sidebar {
	float: right;
	width: 25%;
}

div#footer {
	clear: both;
	margin-top: 1em;
	padding-top: 1em;
	border-top: thin dotted;
}

h1 {
	font-family: Helvetica, Arial, sans-serif;
}

div#sidebar div {
	background: white;
	margin: 0.5em 0;
	padding: 0.3em;
	border-right: 1.5em solid black;
}

div#sidebar a {
	text-decoration: none;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}
